In [ ]:
print("Hello WOrld")

Hello WOrld

In [ ]:
a=100 #  the following code snippets shows the memory management

print(id(a))

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a=500
print(id(a))

134973056271216

In [ ]:
b=a
print(id(b))

134973056271216

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a,b,c = 10,20,30  # variable assignment
print(a,b,c)

10 20 30

In [ ]:
a=10
b=10
c=10
print(a,b,c)

10 10 10

In [ ]:
a=b=c=10 # varaibale assignment
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw

print(keyword.kwlist)  # it list all the keywords in python
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10 # keywords cannot be used as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-25-a9b307c5edad>, line 1)

In [ ]:
# multiline comment

""" dkjasdkfaksdjfasdf
asdfasdfasdf
asdfasdfasdfasd
asdfasdfasdfasdf """

print("HI")

HI

In [ ]:
# python String
a= 'Ntt'
print(a)
b ="Data"
print(a,b)

Ntt
Ntt Data

In [ ]:
# multi line string

st = """asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf"""

print(st)

asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf

In [ ]:
# Day3
# creating a simple list

l = [10,20.3,"NTT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type fn returns the datatype class
a = 3+4j
print(type(a))

<class 'complex'>

In [ ]:
#isinstance

a= 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(type(name))

print(__annotations__['name'])

10
<class 'int'>
<class 'str'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa=10.22
print(aa)
print(type(aa))

print(__annotations__['aa'])

10.22
<class 'float'>

KeyError: 'aa'

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
s = "Bangalore"

print(s[-9:7:1])

Bangalo

In [ ]:
s= "hello, world!"
print(s[-5:2:-2])

o o

In [ ]:
s= "python is fun"

print(s[0:5][::-1])

ohtyp

In [ ]:
# simple  If startement

if 10>15:

  print("start of if")
  print("10 is greater")
  print("end of if")
  print("HI")


print("end of program")

end of program

In [ ]:
# input function

a = input("Enter a value") # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20.33333
20.33333
<class 'float'>

In [ ]:
# input function with type casting

a = int(input("Enter a value")) # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20
20
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value"))
b = int(input("Enter b value"))

if a>b:
  print("a is greater")
  print("if block")
else:
  print("b is greater")
  print("else block")

Enter a value5
Enter b value20
b is greater
else block

In [ ]:
# if else ladder

s = input("enetr a color")

if s == "red":
  print("stop")
elif s == "yellow":
  print("ready")
elif s == "green":
  print("go")
else:
  print("invalid color")

enetr a colorpink
invalid color

In [ ]:
text = input("enter a string")  # program to check the palindrome
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("Palindrome")
else:
  print("Not Palindrome")

enter a stringMalayalam
Palindrome

In [ ]:
# while loop

i=10

while i<15 :
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
# Multiplication Table

num = int(input("Enter a number"))

i=1

while i<=10:
  print(num , "*" , i , "=" ,i*num)
  i=i+1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# For loop

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
# range function

for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
s1 = "NTT"
s2 = "DATA"
s3 = s1+s2
print(s3)
s4 = s2*4
print(s4)

s2[0]="d"

NTTDATA
DATADATADATADATA

TypeError: 'str' object does not support item assignment

In [ ]:
# String deletion
s1 = "Ntt"
print(s1)
del s1
print(s1)

Ntt

NameError: name 's1' is not defined

In [ ]:
#  length of the string

s = input("enter a string")
c=0
for i in s:
  c= c+1
print("length =", c)

#use len function

print(len(s))

enter a stringNTT
length = 3
3

In [ ]:
# memebership operator

if "b" not in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
# count method

main_string = input("enter a string")
sub_string = input("enetr a sub string")

c = main_string.count(sub_string,0,3)

print(c)

enter a stringbangalore
enetr a sub stringa
1

In [ ]:
# startswith method

mobno = input(" enter you mob no with country code")

if mobno.startswith("+91"):
  print("india")
elif mobno.startswith("+1"):
  print("USA")

 enter you mob no with country code+9188899933
india

In [ ]:
# endswith
url = input("enter a URL")
if url.endswith('.edu'):
  print("educational website")
elif url.endswith('.com'):
  print("commercial website")

enter a URLwww.amazon.com
commercial website

In [ ]:
#lstrip method
name = input("enter your name")
print(name)
name = name.lstrip()
print(name)

enter your name     Balan
     Balan
Balan

In [ ]:
url = ["httphttphttphhpp","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("tph")
  print(i)

://www.ajio.com
://www.cricbuzz.com

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  i = i.rstrip('htp.cmo')
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz
http://www.amazon

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  i = i.strip('htp.com')
  print(i)

://www.myntra
://www.aji
://www.cricbuzz
://www.amazon

In [ ]:
print(ord('a'))
print(ord('A'))
print(ord('c'))
print(ord('D'))

97
65
99
68

In [ ]:
s1= "AAnand"
s2= "ABhijith"

if s1!=s2:
  print("s1 is greater")
else:
  print("s2 is greater")

s1 is greater

In [ ]:
# replace method

s1 = " I live in Mumbai , Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore",1)

' I live in Bangalore , Mumbai is a beautiful place'

In [ ]:
# find method

s1 = "I live in Mumbai , Mumbai is a beautiful place"

res =s1.find("Mumbai")
print(res)

10

In [ ]:
# rfind method

s1 = "I live in Mumbai , Mumbai is a beautiful place"

res =s1.rfind("Mumbai")
print(res)

19

In [ ]:
# Split method
s = " I live in mumbai "
k = w.split(' ')
w = "india,usa,australia"
k = w.split(',')
print(k)

['india', 'usa', 'australia']

In [ ]:
#List

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]
print(l1)
print(type(l1))

print(l1[0], l1[-2])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [ ]:
# Slicing in list

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l1[0:4])
print(l1[0:4:2])
print(l1[::])
print(l1[: : -1])

[10, 20, 3.14, 'NTT Data']
[10, 3.14]
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [ ]:
# concatenation of list

l1 = [10,20,34]
l2 = [50,60,70]
l3 = l1 + l2
print(l1)
print(l2)
print(l3)
print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 34]
[50, 60, 70]
[10, 20, 34, 50, 60, 70]
138766873529984
138766873531712
138766873536192

In [ ]:
# multiplication of list

l1 = [10,20,30]
l2 = l1*3
print(l2)
print(l1*2)

[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30]

In [ ]:
#iteration of list

#l1 = [10,20,30,40,50]

for i in [10,20,30,40,50]:
  print(i+5)

15
25
35
45
55

In [ ]:
# membership operator

print(100 in [10,20,30,40])

False

In [ ]:
print(100 not in [100,20,30,40])

False

In [ ]:
# deletion of a list

l1 = [10,20,30,40]

print(l1)

del l1
print(l1)

[10, 20, 30, 40]

NameError: name 'l1' is not defined

In [ ]:
# inbuilt functions
# max()

l1 = [10,200,3,500,80]
print(max(l1))

l2 = ["aaa","bbbb","ccc"]
print(max(l2))

l3= [10,20,"nttdata"]
#print(max(l3)) error

l4 = ["aaa","bbbb","cccvsddqf"]
print(max(l4, key =len ))

l5= []
print(max(l5,default=10))

500
ccc
cccvsddqf
10

In [ ]:
l1 = [10,20,30,40]

l1.append(50)
l1.append(60)
l1.append(70)
l1.append(5)
l1.append([1,2,3])
l1.append("NTT")
print(l1)

[10, 20, 30, 40, 50, 60, 70, 5, [1, 2, 3], 'NTT']

In [ ]:
list = []
for i in range(6):
  num = int(input("enter a number"))
  list.append(num)
print(list)

enter a number10
enter a number20
enter a number0
enter a number0
enter a number50
enter a number60
[10, 20, 0, 0, 50, 60]

In [ ]:
# extend method

l1 =[10,20,30]
l2= [40,50,60]

l1.extend([100,200,300,400])

print(l1)

[10, 20, 30, 100, 200, 300, 400]

In [ ]:
# insert method

l1=[10,20,30,40,50,60]

l1.insert(0,1000)
l1.insert(3,2000)

print(l1)

[1000, 10, 20, 2000, 30, 40, 50, 60]

In [ ]:
# remove method

l1 = [10,10,20,30,40]
l1.remove(10)
print(l1)

[10, 20, 30, 40]

In [ ]:
# pop method

l1= [10,20,30,40]
res = l1.pop()
print(res)
print(l1)


res = l1.pop(2)
print(res)
print(l1)

40
[10, 20, 30]
30
[10, 20]

In [ ]:
s2 = [10,20,30,40,50]
removed_element = s2.pop()
s2.pop(2)
print (removed_element)
print (s2)

50
[10, 20, 40]

In [ ]:
# clear method

l1 = [10,20,30]
print(l1)
l1.clear()
print(l1)

[10, 20, 30]
[]

In [ ]:
# progrm to remove duplicate elements

l1= [10,20,30,10,20,45]
ulist=[] # unique list

for i in l1:
  if i not in ulist:
    ulist.append(i)


print(l1)
print(ulist)

[10, 20, 30, 10, 20, 45]
[10, 20, 30, 45]

In [ ]:
# list() method

l1 = list()
print(l1)
print(type(l1))

[]
<class 'list'>

In [ ]:
s = "NTT DATA"
l2 = list(s)
print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
l3 = list(range(3,9))
print(l3)

[3, 4, 5, 6, 7, 8]

In [ ]:
# print the occurance of the elements

l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]
l2 = []
l3 = []
for num in l1:
  if num not in l2:
    l2.append(num)
    l3.append(l1.count(num))

print(l2)
print(l3)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 2, 1, 1]

In [ ]:
l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]

uele = []
count= []

for i in l1:
  if i not in uele:
    uele.append(i)
    count.append(1)
  else:
    index = uele.index(i)
    count[index] = count[index] + 1

print(uele)
print(count)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 2, 1, 1]

In [ ]:
# Tuples
t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8,))
print(t1)
print(type(t1))

(1, 2, 3, 4, 3.1, [4, 5, 6], (7, 7, 8))
<class 'tuple'>

In [ ]:
# tuple() method

s = "Ntt Data"
t2 = tuple(s)
print(t2)

l1 = [10,20,30]

t3 = tuple(l1)
print(t3)

l5 = list(t3)
print(l5)

('N', 't', 't', ' ', 'D', 'a', 't', 'a')
(10, 20, 30)
[10, 20, 30]

In [ ]:
# tuple with a single element

t5 = (6)
print(t5)
print(type(t5))

6
<class 'int'>

In [ ]:
# tuple with a single element

t5 = (6,)
print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [ ]:
# tuple concatenation

t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1+t2
print(t3)
print(type(t3))

(10, 20, 30, 40, 50, 60)
<class 'tuple'>

In [ ]:
t1 = (10,20,30)

t2 = t1*3

print(t2)
print(type(t2))

(10, 20, 30, 10, 20, 30, 10, 20, 30)
<class 'tuple'>

In [ ]:
# iterating tuple

t1 = (10,20,30)

for i in t1:
  print(i)

10
20
30

In [ ]:
t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8,))
print(t1[4:])

(3.1, [4, 5, 6], (7, 7, 8))

In [ ]:
# Dict

d1 = {"name": "Ram", "age": 30 , "city": "Blr"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])

In [ ]:
# Create a dict

d1 = {2 : 100,
      4: 200,
      6: 300,
      8: 400,
      10: 500}
print(d1)
print(type(d1))

print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500

In [ ]:
d2 = {'aa':100,
      'bb':200,
      'cc':300}

print(d2)

print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300}
300

In [ ]:
d3 = {3 : [1,2,3],
      6: (4,5,6),
      9: "NTT"}

print(d3)
print(d3[3])
print(d3[6])
print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT

In [ ]:
d4 = {(1,2) : 100,
      (3,4): 200,
      (5,6): 300}

print(d4)
print(d4[(1,2)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
100

In [ ]:
d4 = {3 : 100,
      (3,4): 200,
      "hi": 300}

print(d4)
print(d4["hi"])

{3: 100, (3, 4): 200, 'hi': 300}
300

In [ ]:
# Iterating through a Dict

#iterate through  keys

d1 = {2 : 100,
      4: 200,
      6: 300,
      8: 400,
      10: 500}

for key1 in d1:
  print(key1)

2
4
6
8
10

In [ ]:
# iterate through values
d1 = {2 : 100,
      4: 200,
      6: 300,
      8: 400,
      10: 500}

for value in d1.values():
  print(value)

100
200
300
400
500

In [ ]:
# iterate through items.... item means (key,value)
d1 = {2 : 100,
      4: 200,
      6: 300,
      8: 400,
      10: 500}

for item in d1.items():
  print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [ ]:
d1 = {2 : 100,
      4: 200,
      6: 300,
      8: 400,
      10: 500}

for k in d1:
  print(d1[k])

100
200
300
400
500

In [ ]:
d1 = {2:100, 4:200, 6:300, 8:400}

for xx,yy in d1.items():
  print(xx)
  print(yy)

2
100
4
200
6
300
8
400

In [ ]:
# memebership opeartor
d1 = {2:100, 4:200, 6:300, 8:400}
if 2 in d1:
  print("2 is present")

if 10 not in d1:
  print("10 is not present")

2 is present
10 is not present

In [ ]:
#  inbuilt methods

# Keys()
d1 = {2:100, 4:200, 6:300, 8:400}

keys = d1.keys()
print(keys)
print(type(keys))

l1 = list(keys)    #list()
print(l1)
print(type(l1))

dict_keys([2, 4, 6, 8])
<class 'dict_keys'>
[2, 4, 6, 8]
<class 'list'>

In [ ]:
# values()

d1 = {2:100, 4:200, 6:300, 8:400}

val = d1.values()
print(val)

dict_values([100, 200, 300, 400])

In [ ]:
#iteams
d1 = {2:100, 4:200, 6:300, 8:400}
it = d1.items()
print(it)

dict_items([(2, 100), (4, 200), (6, 300), (8, 400)])

In [ ]:
#get
d1 = {2:100, 4:200, 6:300, 8:400}

val = d1.get(4)
print(val)

val = d1.get(10,-100)  # -100 is the default value
print(val)

200
-100

In [ ]:
#pop()
d1 = {2:100, 4:200, 6:300, 8:400}

val = d1.pop(4)
print(val)
print(d1)

val2 = d1.pop(10,1000)  # 1000  is the default value
print(val2)
print(d1)

200
{2: 100, 6: 300, 8: 400}
[1, 2, 3]
{2: 100, 6: 300, 8: 400}

In [ ]:
#update method
d1 = {2:100, 4:200, 6:300, 8:400}
d2 = {10:1000, 20:2000}

d1.update(d2)
print(d1)

d1.update({2:10000,200: 20000})
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000}
{2: 10000, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000, 200: 20000}

In [ ]:
d1 = {2:500, 4:200, 6:300, 8:400, 2:100}

print(d1)

{2: 100, 4: 200, 6: 300, 8: 400}

In [ ]:
# clear()
d1 = {2:500, 4:200, 6:300, 8:400, 2:100}
print(d1)
d1.clear()
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400}
{}

In [ ]:
# shallow copy

d1 = {2:[1,2,3], 4:[2,3,4], 6:[2,3,4], 8:[2,4,5], 2:[4,5,6]}
d2 = d1
print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: [4, 5, 6], 4: [2, 3, 4], 6: [2, 3, 4], 8: [2, 4, 5]}
{2: [4, 5, 6], 4: [2, 3, 4], 6: [2, 3, 4], 8: [2, 4, 5]}
133985909649920
133985909649920

In [ ]:
# deep copy
import copy

d1 = {2:[1,2,3], 4:[2,3,4], 6:[2,3,4], 8:[2,4,5], 2:[4,5,6]}
d2 = copy.deepcopy(d1)

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: [4, 5, 6], 4: [2, 3, 4], 6: [2, 3, 4], 8: [2, 4, 5]}
{2: [4, 5, 6], 4: [2, 3, 4], 6: [2, 3, 4], 8: [2, 4, 5]}
133985908701696
133985908695360

In [ ]:
#fromkeys()

keys= [1,2,3,4]
d1 = dict.fromkeys(keys,2000)
print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000}

In [ ]:
k=[1,2,3,4,5]
v=[10,20,30,40,50,90]   # creat a dict zip
d1 = dict(zip(k,v))

print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [ ]:
# Assignment
s = " I live in blr, blr is a garden city and beautiful city"   # input


{'I':1 , 'live':1, 'in':2, 'blr':2, 'is':1, 'a':1, 'garden':1, 'city':2} # output

In [2]:
l1 = [10,20,30,40]

print(l1)

l2 = l1

print(id(l1))
print(id(l2))

l2[1]= 200

print(l1)
print(l2)

[10, 20, 30, 40]
133299387695872
133299387695872
[10, 200, 30, 40]
[10, 200, 30, 40]

In [5]:
# shallow copy
import copy
l1 = [[1,2,3],[4,5,6],[7,8,'a']]



print("id of l1:",id(l1))
print("id of the first ele",id(l1[0]))
print("id of the 2nd ele",id(l1[1]))
print("id of the 3rd ele",id(l1[2]))

l2 = copy.copy(l1)



print("id of l2:",id(l2))
print("id of the first ele",id(l2[0]))
print("id of the 2nd ele",id(l2[1]))
print("id of the 3rd ele",id(l2[2]))

l1[2][2]= "hello"
print(l1)
print(l2)

id of l1: 133299387988352
id of the first ele 133299387848512
id of the 2nd ele 133299387977728
id of the 3rd ele 133299387855360
id of l2: 133299387986496
id of the first ele 133299387848512
id of the 2nd ele 133299387977728
id of the 3rd ele 133299387855360
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello'], 34]
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello'], 34]

In [7]:
import copy
l1 = [[1,2,3],[3.4,5.4],[6,'a'],'NTT']
l3 = copy.copy(l1)
l1[3] = [10,20]

print(l1)

print(l3)

print(id(l1))

print(id(l3))

[[1, 2, 3], [3.4, 5.4], [6, 'a'], [10, 20]]
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT']
133299388030912
133299387981696

In [8]:
# deep copy
import copy
l1 = [[1,2,3],[4,5,6],[7,8,'a']]



print("id of l1:",id(l1))
print("id of the first ele",id(l1[0]))
print("id of the 2nd ele",id(l1[1]))
print("id of the 3rd ele",id(l1[2]))

l2 = copy.deepcopy(l1)



print("id of l2:",id(l2))
print("id of the first ele",id(l2[0]))
print("id of the 2nd ele",id(l2[1]))
print("id of the 3rd ele",id(l2[2]))

l1[2][2]= "hello"
print(l1)
print(l2)

id of l1: 133300092250816
id of the first ele 133299387671808
id of the 2nd ele 133299387848064
id of the 3rd ele 133299387667136
id of l2: 133299387976640
id of the first ele 133299387407424
id of the 2nd ele 133299618269056
id of the 3rd ele 133300092241856
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello']]
[[1, 2, 3], [4, 5, 6], [7, 8, 'a']]

In [11]:
#set

s1 = {10,"hello",3.1,"BLR", "NTT",3+4j,40,50,60}

print(s1)
print(type(s1))

{3.1, 'NTT', 40, 10, 'BLR', (3+4j), 50, 'hello', 60}
<class 'set'>

In [12]:
s2 = {10,10,20,30,30,30}
print(s2)

{10, 20, 30}

In [16]:
s2 = {10,10,20,30,30,30,(1,3,4),"NTT"}
print(s2)

{20, 'NTT', 30, 10, (1, 3, 4)}

In [17]:
s3 = set("NTT Data")
print(s3)

{'a', 'D', 't', ' ', 'N', 'T'}

In [19]:
s3 = set(["aaa","bbb"])
print(s3)

{'bbb', 'aaa'}

In [20]:
s5 = {}
print(s5)
print(type(s5))

{}
<class 'dict'>

In [21]:
s6= set()
print(s6)
print(type(s6))

set()
<class 'set'>

In [31]:
# add method
s1 = {10,200,"Ntt",34.5}
s1.add("KKK")   # single ele
print(s1)

s1.update([10,20,"Blr"]) # multiple elements
print(s1)

#s1.update([10,20,"Blr",[4,5]]) # multiple elements
#print(s1)

s1.remove("Blr") # remove methods throws error if the arg doesnt exist
print(s1)

s1.discard("KKKK") # discard methods will not throws error if the arg doesnt exist
print(s1)


ele = s1.pop()
print(ele)
print(s1)

s1.clear()
print(s1)

{34.5, 200, 10, 'Ntt', 'KKK'}
{'Blr', 34.5, 200, 10, 'Ntt', 'KKK', 20}
{34.5, 200, 10, 'Ntt', 'KKK', 20}
{34.5, 200, 10, 'Ntt', 'KKK', 20}
34.5
{200, 10, 'Ntt', 'KKK', 20}
set()

In [33]:
# set union
s1 = {1,2,3,4,5}
s2= {4,5,6,7,8}
print(s1|s2)

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
# intersection
s1 = {1,2,3,4,5}
s2= {4,5,6,7,8}

print(s1&s2)

print(s1.intersection(s2))

{4, 5}
{4, 5}

In [35]:
# difference

s1 = {1,2,3,4,5}
s2= {4,5,6,7,8}

print(s1-s2)

print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [38]:
# frozen set
s= {1,2,3,4,5}
fs = frozenset(s)
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [40]:
v= [10,20,30]
v.extend([100,[10,20]])
print(v)

[10, 20, 30, 100, [10, 20]]