<a href="https://colab.research.google.com/github/Ramarsh181131/Python-Training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to Python world")

welcome to Python world

In [32]:
greet()

Hello
How are you
Bye

In [ ]:
2+3

5

**Variable**

In [ ]:
x=5 #store 5 in x
y=3 #store 3 in y
z = 2 #store 2 in z
less = x-y-z #less the values inside the variable and store the result in less
print(less)
s1 = "Hello Harsh"
print(s1)

0
Hello Harsh

In [ ]:
#type() : give me datatype of a variable
print(type(x))
print(type(y))
print(type(s1))

<class 'int'>
<class 'int'>
<class 'str'>

**String**

In [ ]:
s1.upper()

'HELLO HARSH'

In [ ]:
s1.lower()

'hello harsh'

In [ ]:
s1.title()

'Hello Harsh'

In [ ]:
#replacing

#Russia : Serbia

s2 = "Russia"

s2.replace("Russ","Serb")

'Serbia'

In [ ]:
s2

'Russia'

In [ ]:
s3 = "Russia"
s3.replace("Russ","Ind")

'India'

In [ ]:
s3 = s3.replace("Russ","Ind")

print(s3)

India

In [ ]:
u1 = "I"
u2 = "have"
u3 = "the Power"
u4 = u1+" "+u2+" "+u3
print(u4)

I have the Power

In [ ]:
5+3*10

35

In [ ]:
n=8
if n>0:
  #these gaps (indents) indicates that the lines of code belong to the body of if i.e if condition is T then these lines will be executed
  print("The Number is Positive")
  print("Hello Harsh")
else:
    #whetever we write beyond this it will for the else part
    print("The Number is Negative")
    print("Tata Tata")

The Number is Positive
Hello Harsh

In [ ]:
# = : assignment operator
# == : Comparing operator
# comparing statement : >=,<=,>,<,==,!=
n=-1
if n>0:
  print("+ve")
elif n==0:
  print("zero")
else:
  print("-ve")

-ve

In [ ]:
n1  = int(input("Enter the data"))

Enter the data500

In [ ]:
n1 + 5

505

In [ ]:
n= int(input("Enter the data"))
if n>0:
  print("+ve")
elif n==0:
  print("zero")
else:
  print("-ve")

Enter the data13
+ve

In [4]:
#print all numbers from 1 to 10

i = 1
while i<=10:
  print(f"The Number is {i}")
  i = i+1

The Number is 1
The Number is 2
The Number is 3
The Number is 4
The Number is 5
The Number is 6
The Number is 7
The Number is 8
The Number is 9
The Number is 10

In [5]:
#range : gives us a range of values
range(5)

range(0, 5)

In [8]:
#print hello five times

for i in range(5):
  print("Harsh")

Harsh
Harsh
Harsh
Harsh
Harsh

In [19]:
for i in range(1,11):
 print(i*5)

5
10
15
20
25
30
35
40
45
50

In [27]:
#take 5 numbers as input and print it

for i in range (1,5):
 i = int(input("Enter a number"))
 print(f"Number is {i}")

Enter a number1
Number is 1
Enter a number2
Number is 2
Enter a number3
Number is 3
Enter a number4
Number is 4

In [30]:
# function/methods : Def
def greet():
 print("Hello")
 print("How are you")
 print("Bye")

In [31]:
#calling
greet()

Hello
How are you
Bye

In [45]:
# creat a function to add 2 number

def number():
  p = int(input("Enter a number"))
  q = int(input("Enter a number"))
  print(f"The sum is {p+q}")

In [48]:
number()

Enter a number1
Enter a number2
The sum is 3

In [49]:
def add():
  i=int(input("Enter the Number"))
  x=int(input("enter a num"))
  print(f"the numberis{i+x}")

In [50]:
add()

Enter the Number1
enter a num2
the numberis3

In [63]:
def assign():
  pup=int(input("Enter the number"))
  pup1=int(input("Enter the number"))
  print(pup+pup1)

In [64]:
assign()

Enter the number1
Enter the number2
3

In [68]:
def multi(x,y):
 print(f"the multiplication of {x*y}")

In [71]:
multi(112,112)

the multiplication of 12544

In [80]:
#create a function to check if positive or negative
def pos_neg(x):
  if x<0:
    print(f"{x} is Negative")
  elif x>0:
    print(f"{x} is Positive")

In [81]:
pos_neg(-4)

-4 is Negative

In [82]:
pos_neg(100)

100 is Positive