In [2]:
a = 10
print(a)
print("a=",id(a))

b = 10
print(b)
print("b=",id(b))

c = 30
print(c)
print("c=",id(b))

# dynamic

a = 3.14
print(a)
print("a=",id(a))

10
a= 10751144
10
b= 10751144
30
c= 10751144
3.14
a= 139769389685488

In [3]:
# creating multiple variables

a,b,c = 10, 3.14, "NTT"
print(a,b,c)

10 3.14 NTT

In [4]:
# assign single values to multiple variables
a=b=c = 100
print(a,b,c)

100 100 100

In [5]:
# variable annotation
a: int = 10
print(a)
print(__annotations__['a'])

b: float = 3.14
print(b)
print(__annotations__['b'])

c: str = "NTT"
print(c)
print(__annotations__['c'])

10
<class 'int'>
3.14
<class 'float'>
NTT
<class 'str'>

In [6]:
import keyword
print(keyword.kwlist)
print(len)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
# this section is for commenting

In [9]:
# multiple comments

print("multiple comments")

multiple comments

In [12]:
# string

s= "code yug"
print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])

cod
de
cd

In [14]:
# string

s= "Hello World"
print(s[:5])

Hello

In [17]:
# string

s= "Hello, World!"
print(s[-6:-1])

World